<%- include('partials/header') %>
<%- include('partials/navbar') %>
<link rel='stylesheet' href='/stylesheets/blog-style.css' />

<section id="blog">
  <div class="container" style="height:100%">
    <div class="card" style="min-width:80%; min-height: 50%">
      <h6 class="card-subtitle">Aug 17, 2021 7 min read</h6>
      <br>
      <p class="card-text">Welcome to the newly rebranded eProjects blog! To start us off, we will be launching several exclusive series that are only available on this site. If you don’t want to miss out on all the amazing content we have planned
        out, click the subscribe button so you will receive an email whenever we have a new blog post! To check out more of this series click here(insert hyperlink) or click the dropdown button from the menu bar.</p>
      <h5 class="card-title">So what is the Entrepreneur Resources series?
      </h5>
      <p class="card-text">This is a monthly series where we would introduce 3-5 different resources that would be useful to local BC entrepreneurs on each post. With this series, we aim to connect aspiring entrepreneurs and innovators with resources
        to enable students to flourish in Vancouver’s ever-growing start-up industry <br>
      <ol>
        <li class="card-text">Small Business BC (SBBC)</li>
      </ol>

      <p class="card-text">&emsp; Small Business BC is a non-profit organization providing resources for BC’s small business community. SBBC offers tools and resources to small business owners at any stage of their business, whether you are starting
        a business, growing a business or exiting an industry. Whether your business is black-owned, women-owned or indigenous-owned, SBBC has something to offer to you (mentorship program, business loans...)! SBBC holds regular live webinars
        inviting people in various industries to share their experiences and tips with entrepreneurs. Their site offers a paid service to small business owners the opportunity to speak and ask tailored questions to a range of specialist business
        advisors such as ​​Accountant, Business Broker, HR, Lawyer, Technology, and Website Expert.
      </p>

      <p class="card-text">Click HERE to go to SBBC’s site.</p>
      <br>
      <ol>
        <li class="card-text">Futurpreneur</li>
      </ol>

      <p class="card-text">&emsp; Futurpreneur is a national non-profit organization committed to supporting aspiring entrepreneurs aged 18-39 by providing early-stage financing, mentorship and other resources to contribute towards sustainable
        economic development in their communities and for Canada. For their financing resources, entrepreneurs may receive up to $60,000 from Futurpreneur Canada and their partner - Business Development Bank of Canada. Feeling lost while starting
        your own business? Futurpreneur’s mentorship program has got you covered! Their mentorship program lasts up to two years and you get to receive ongoing support from your mentor. Isn’t that amazing?
      </p>

      <p class="card-text">You can check out the full range of services and resources they offer here.
      </p>
      <br>

      <ol>
        <li class="card-text">Canadian Federation of Independent Businesses (CFIB)
        </li>
      </ol>
      <p class="card-text">&emsp; The Canadian Federation of Independent Businesses offers business support services to small business owners throughout Canada. In addition to advocating on behalf of independent business owners with politicians and
        decision-makers, CFIB’s Media Centre provides up-to-date news and advice for businesses across Canada. Not to mention CFIB’s specialized business resources, including on-call counsellors, lend a helping hand to entrepreneurs to navigate the
        daily challenges of running their business.
      </p>

      <p class="card-text">You can find CFIB’s site HERE.</p>

      <p class="card-text">That’s all for today’s post! Let us know if you found any of these resources useful. If you have any resources suggestions, feel free to contact us here(hyperlink our contact us page) or any of our social media platforms.
        Don’t forget to hit the subscribe button to receive notifications on updates of our blog.
      </p>


    </div>

  </div>
</section>


<%- include('partials/footer') %>
