<%- include('partials/header') %>
<%- include('partials/navbar') %>
<link rel='stylesheet' href='/stylesheets/contact-style.css' />


<section id="contact" style="min-height:80vh">
<div class="container">
  <div class="row">
    <div class="contact-title">
      Contact
    </div>
  </div>
  <div class="row links">
    <div class="col-6">
      <p><i class="far fa-envelope"></i>president@ubceprojects.com </p>
      <p><i class="fab fa-instagram"></i>@eProjects</p>
      <p><i class="fas fa-file-signature"></i>Sponsorhip Package</p>
    </div>
    <div class="col-6">
      <p><i class="fab fa-facebook"></i>UBC eProjects</p>
      <p><i class="fab fa-linkedin"></i> UBC eProjects</p>

    </div>
  </div>
</div>
</section>

<%- include('partials/footer') %>
