<%- include('partials/header') %>



  <%- include('partials/navbar') %>

  <section id="main">
    <div class="container" id="main" style="margin-left:6vw">
      <div class="row">
        <div class="title-text" style="max-width:700px">
          An Interdisciplinary Hub for
          <p style="font-weight:700">Entrepreneurship + Innovation</p>
        </div>
        <br></br>
        <br></br>
        <br></br>
        <div class="subtitle" style="max-width:700px">
          Whether you are a thriving student-entrepreneur, or <br> want to learn more about entrepreneurship, you've come to the right place.
        </div>
      </div>
      <br>
      <div class="row">
        <button type="button" class="btn btn-light">JOIN US</button>
      </div>
      <div id="wave" style="overflow:hidden;">
        <%- include('partials/wave') %>
      </div>
    </div>

  </section>



  <section id="about">
    <div class="container">
      <div class="row justify-content-center">
        <div class="title-text">
          We are eProjects
        </div>
        <br></br>
        <br></br>
        <br></br>
        <div class="description">
          Whether you are a thriving student-entrepreneur, or want to learn more about entrepreneurship, you've come to the right place.
        </div>
      </div>
      <br></br>
      <br></br>

      <div class="row justify-content-center">
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./images/learn_card.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Learn</h5>
              <p class="card-text">We help students learn from some of Vancouver’s most successful entrepreneurs, allowing you to hear their successes and failures.</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./images/connect_card.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Connect</h5>
              <p class="card-text">We connect you with like-minded, passionate students to learn about relevant entrepreneurial skills used in the industry today.</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./images/innovate_card.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Innovate</h5>
              <p class="card-text">We bring your ideas to life by providing you with the tools needed to succeed, all the while giving guidance when needed.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>




  <section id="events">
    <div class="container">
      <div class="row">
        <div class="title-text">
          Events
        </div>
      </div>
      <div class="row">

        <div class="description">
          eProjects is always working on new events, but some of our favourite events in the past years are:
        </div>
      </div>
      <br></br>
      <br></br>
      <div class="row event-row">
        <div class="col-6">
          <div class="event-image-container text-center mx-auto">
            <img src="./images/lite_hacks.png" class="event-image img-fluid" style="margin-top: 35px;" alt="lite hack images">
          </div>
        </div>
        <div class="col-6">
          <div class="event-title">
            LiteHack
          </div>
          <div class="event-description">
            <p>The code-free hackathon designed to help your fresh ideas take center stage.</p>
            <p>LiteHacks is a full day of fast paced challenges and activities, fueled by your passion and forward thinking. No coding experience required!</p>
          </div>
        </div>
      </div>
      <div class="row event-row">
        <div class="col-6">
          <div class="event-title">
            CEO Dinner Night
          </div>
          <div class="event-description">
            <p>The code-free hackathon designed to help your fresh ideas take center stage.</p>
          </div>
        </div>
        <div class="col-6">
          <div class="event-image-container text-center mx-auto">
            <img src="./images/ceo_dinner_night.png" class="event-image img-fluid" style="margin-top: 26px;" alt="lite hack images">
          </div>
        </div>
      </div>
      <div class="row event-row">
        <div class="col-6">
          <div class="event-image-container text-center mx-auto">
            <img src="./images/etalks.png" class="event-image img-fluid" style="margin-top: 55px;" alt="lite hack images">
          </div>
        </div>
        <div class="col-6">
          <div class="event-title">
            eTalks
          </div>
          <div class="event-description">
            <p>Join us for a night of refreshments, and the opportunity to engage with a start up, or to listen to a CEO life-story.</p>
            <p>We cover topics like the fashion industry, and the innovation in the restaurant scene in Vancouver. </p>
          </div>
        </div>
        </div>
      </div>
  </section>

  <%- include('partials/footer') %>
