html {
  scroll-behavior: smooth;
}

body {
  padding: 50px;
  font-family: 'Domine', serif;
  color: #FFFFFF;
  background: #4F99D1;
  background: linear-gradient(180deg, #062851 0%, #15519A 100%), #104688;
}

.navbar {
  background-color: linear-gradient(180deg, #062851 0%, #15519A 100%), #104688;
  color: #FFFFFF;
  font-family: inherit;
}

a {
  color: inherit;
}

.navbar-nav {
  float: none;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}

.navbar-nav>li {
  display: inline-block;
  float: none;
}

#main {
  margin-top: 10vh;
}

#about {
  padding-top: 5vh;
}



.card {
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0);
  text-align: center;

  .card-title {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
  }
}

.card-img-top {
  max-width: 131px;
  margin: auto;
}

.title-text {
  font-size: 48px;
  line-height: 55px;
  font-weight: 400;
  letter-spacing: 0em;
  margin-top: 2vh;
}

.subtitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
}

.description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
}

.event-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}

.event-description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
}

.event-image-container {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.65) 100%);
  box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
  border-radius: 72px;
  width:365px;
  height: 191px;
}

.footer-link {
  font-family: 'Inter';
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.footer-column-title {
  font-family: 'Inter';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.footer-social-icon {
  padding-right: 15px;
}

.nav-link {
  color: inherit;
}

section {
  min-height: 100vh
}

#bottom-rectangle {
  background-color: #F7F7F8;
  height: 20vh;
  width: 100vw;
  margin-left: -50px;
  position: absolute;
  bottom: 0px;
}

#right-trapezoid {
  background-color: #000000;
  clip-path: polygon(55% 0, 100% 0, 100% 100%, 0% 100%);
  border-top-left-radius: 100%;
  height: 30vh;
  min-width: 20vw;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#main {
  height: 80vh;
}

#events {
  background: #F7F7F8;
  width: 100vw;
  margin-left: -50px;
  color: #0F407C;
}

.event-row {
  min-height: 230px;
}

.btn {
  border-radius: 67.5px;
  min-width: 150px;
  color: 083265;
  font-size: 24px;
}

.page-footer {
  background: #104688;
  border-top: 1px solid grey;
  height: 100%;
  margin-bottom: -50px;
  margin-left: -50px;
  margin-right: -50px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 25px;
}
