body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #93d1ff;
}

.navbar {
  background-color: #93d1ff !important;
  font: normal normal 700 20px/1.4em 'open sans', sans-serif;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.img-fluid {
  width: 250px !important;
}
